/*默认浏览器样式*/
*{
    margin: 0;
    padding: 0;
    /*盒子模型设定*/
    /*本次主要是用边框盒子进行布局*/
    box-sizing: border-box;
}
body{
    background: rgb(245, 245, 245);
}
.header{
    width: 375px;
    height: 44px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #f2f2f2;
}
.header .logo{
    width: 50px;
    height: 44px;
    background-image: url("../img/milogo.png");
    background-size: 25px 16px;
    background-repeat: no-repeat;
    background-position:center center;

}
.header .userright{
    width: 52px;
    height: 31px;
    display: flex;
    justify-content: center;
}
.header .userright .user{
    width: 31px;
    height: 31px;
    background-image: url("../img/user.png");
    background-repeat: no-repeat;
    background-size: 21px 21px;
    background-position: center center;
}

.header .search{
    flex: 1;
    width: 100%;
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}
.header .search .ico{
    width: 32px;
    height: 32px;
    background-image: url("../img/search4.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.header .search input{
    outline: none;
    border: none;
    height: 33px;
    width: auto;
    background-color: transparent;
}
.nav{
    height: 30px;
    width: 100%;
    position: relative;
    left: 0;
    top: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav a{
    font-size: 14px;
    text-decoration: none;
    color: #747474;
    padding: 4px 0;
}
.nav>a.active{
    border-bottom: 2px solid #ff6700;
    color: rgb(237, 91, 0);
}
.nav label{
    z-index: 100;
}

.nav label img{
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

/*开始设置隐藏框*/
.yck{
    width: 100vw;
    height: 0vh;
    /*最开始的时候不让其显示出来*/
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 10;
    overflow: hidden;
}
#choose:checked~.yck{
    height: 100vh;
}
#choose:checked~.yck .yckmain{
    height: 120px;
}
/*设置过渡效果*/
#choose:checked~.nav label img{
    transform: rotate(180deg);
}
/*这个动画效果好像不行，之后再说*/
.yck .yckmain{
    width: 375px;
    height: 0;
    position: absolute;
    left: 0;
    top: 44px;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    transition: all .8s;
}
.yck .yckmain .ycktitle{
    height: 30px;
    width: 375px;
    display: flex;
    align-items: flex-end;
    padding-left: 11px;
}
.yck .yckmain .ycktitle h3{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.yck .yckmain .ycklist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    padding-left: 11px;
    margin-top: 14px;
}
.yck .yckmain .ycklist a{
    /*因为父元素是弹性布局，下属第一子元素是块级元素，可以直接设置宽高*/
    width: 80px;
    height: 30px;
    text-align: center;
    border: 1px solid #e5e5e5;
    margin: 0 10.5px 10px 0;
    font-size: 14px;
    text-decoration: none;
    border-radius: 4px;
    color: #3c3c3c;
    background-color: #fff;
}
.yck .yckmain .ycklist a:active{
    background-color: #ff6700;
}
.yck .yckmain .ycklist a:nth-child(1){
    color: #ff6700;
    border-color: #ff6700;
    background-color: #fde0d5;
}
/*隐藏框设置完毕*/


/*开始广告部分*/
.main-content{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-bottom: 52px;
}
.main-content .mainad{
    width: 100%;
    height: 188px;
}
.main-content .mainad a img{
    width: 375px;
    height: 188px;
}
.main-content .iconlist{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.main-content .iconlist a{
    width: 75px;
    height: 80px;

}
.main-content .iconlist a img{
    width: 75px;
    height: 80px;
}
/*三个广告*/
.threead{
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.threead .leftad img{
    width: 186px;
    height: 265px;
}
.threead .rightad{
    display: flex;
    flex-direction: column;
}
.threead .rightad img{
    width: 186px;
    height: 131px;
}
/*三个广告制作结束*/

/*每日精选*/
.mrjx{
    margin-top: 10px;
    width: 100%;
    height: auto;
}
.mrjx a{
    width: 100%;
    height: auto;
    background-color: #ffffff;
}
.mrjx a img{
    width: 100%;
    height: 230px;
}
.jxlist{
    width: 375px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #ffffff;
    padding-top: 3px;
}
.jxlist .pd{
    width: 48%;
    height: 253px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jxlist .pd img{
    width: 100%;
    height: auto;
}
.jxlist .pd .pdtitle{
    font-size: 16px;
    color: rgba(0,0,0,.87);
}
.jxlist .pd .pddetail{
    font-size: 12px;
    color: rgba(0,0,0,.54);
}
.jxlist .pd .price span{
    font-size: 12px;
    line-height: 22px;
    display: inline-block;
}
.jxlist .pd .price del{
    font-size: 12px;
    color: #ea625b;
    display: inline;
    line-height: 18px;
}
.jxlist .pd .price{
    font-size: 14px;
    color: #ea625b;
    display: inline-block;
}
.jxlist .pd .buybtn{
    width: 105px;
    background: #ea625b;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 8px 0;
    font-weight: 700;
}
.main-content .ti{
    width: 100%;
    height: 52px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 52px;
    text-align: center;
    background-color: #ffffff;
    border-top: 1px solid #cccccc;
}
/*空白线*/
.main-content .divider_line{
    width: 100%;
    border-bottom: 10px solid rgb(245, 245, 245);
}
/*电脑列表下面广告*/
.main-content .cells_auto_fill{
    color: #3c3c3c;
    width: 100%;
    height: auto;
}
.main-content .cells_auto_fill a img{
    width: 100%;
    height: 146px;
}
.main-content .mjzn{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.main-content .mjzn .cells_auto_fill img{
    width: 100%;
    height: 230px;
}
.main-content .mjzn .list_one_type2{
    display: flex;
}
.main-content .mjzn .list_one_type2 .img{
    width: 50%;
    height: 188px;
}
.main-content .mjzn .list_one_type2 .img a img{
    width: 188px;
    height: 188px;
}
.main-content .mjzn .list_one_type2 .info{
    flex: 1;
    height: 188px;
    padding: 33px 6px 0 17px;
    display: flex;
    flex-direction: column;
}
.main-content .mjzn .list_one_type2 .info .name{
    font-size: 16px;
    color: rgba(0,0,0,.87);
}
.main-content .mjzn .list_one_type2 .info .briefwarp{
    margin-top: 4px;
    font-size: 12px;
    color: rgba(0,0,0,.54);
}
.main-content .mjzn .list_one_type2 .info .mt32{
    font-size: 14px;
    margin-top: 10px;
    color: #ea625b;
    position: relative;
    display: inline-block;
}
.main-content .mjzn .list_one_type2 .info .mt32 s{
    font-size: 12px;
}
.cells_auto_fill_multi_cell{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    justify-content: space-between;
}
.cells_auto_fill_multi_cell a:nth-child(1){
    margin-top: 0;
}
.cells_auto_fill_multi_cell a:nth-child(2){
    margin-top: 0;
}

.cells_auto_fill_multi_cell a{
    width: 49.5%;
    height: 250px;
    margin-top: 4px;
}
.cells_auto_fill_multi_cell a img{
    width: 100%;
    height: 250px;
}
/*底部功能栏*/
.footer{
    width: 375px;
    display: flex;
    background: #fff;
    box-shadow: 0 -2px 10px #ccc;
    position: fixed;
    left: 0;
    bottom: 0;
}
.footer a{
    width: 25%;
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.footer a .img{
    width: 21px;
    height: 21px;
    background-size: 100%;
}
.footer a span{
    font-size: 12px;
    color: #999;
}

.footer a:nth-child(1) .img:nth-child(1){
    background-image: url(../img/hone1.png);
}
.footer a:nth-child(2) .img{
    background-image: url(../img/list1.png);
}
.footer a:nth-child(3) .img{
    background-image: url(../img/buycar1.png);
}
.footer a:nth-child(4) .img{
    background-image: url(../img/center1.png);
}

.footer a:nth-child(1):hover .img:nth-child(1){
    background-image: url(../img/hone2.png);
}
.footer a:nth-child(2):hover .img{
    background-image: url(../img/list2.png);
}
.footer a:nth-child(3):hover .img{
    background-image: url(../img/buycar2.png);
}
.footer a:nth-child(4):hover .img{
    background-image: url(../img/center2.png);
}

.footer a:nth-child(1):hover span{
    color: #ff6700!important;
}
.footer a:nth-child(2):hover span{
    color: #ff6700!important;
}
.footer a:nth-child(3):hover span{
    color: #ff6700!important;
}
.footer a:nth-child(4):hover span{
    color: #ff6700!important;
}